<h4>Login:</h4>
<br>
<div class="card">
  <form class="" action="/usuarios/login" method="post">
    <div class="card-body">
      <label for="email">Email: </label>
      <input type="email" name="email" value="" class="form-control" required>
      <label for="senha">Senha: </label>
      <input type="password" name="senha" value="" class="form-control" required>
      <button type="submit" class="btn btn-success mt-4">Entrar</button>
    </div>
  </form>
</div>
